<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Designer Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jQuery.lightninBox.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                            <li class="navbar-item">
                                <a href="index.html" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="works.html" class="nav-link">Works</a>
                            </li>
                            <li class="navbar-item ">
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item active">
                                <a href="blog.html" class="nav-link">Blog</a>
                            </li>
                            <li class="navbar-item">
                                <a href="services.html" class="nav-link">Services</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="static about-page">
        <div class="breadcrumb">
            <div class="container">
                <a class="breadcrumb-item" href="index.html">Home</a>
                <span class="breadcrumb-item active">About</span>
            </div>
        </div>
        <div class="titl-sec">
            <div class="container">
                <h1>Welcome to our blog</h1>
            </div>
        </div>
        <div class="container">
            <div class="blog-post-sec">
                <div class="blog-post">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/blog1.jpg">
                        </div>
                        <div class="col-md-7 post-content">
                            <h3>What are the most of the important things to be considered in design</h3>
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Lorem Ipsum is type and scrambled it to make a type specimen book. It has survived not only five</h6>
                            <a href="blog-single.html" class="btn gray-btn gray">continue...</a>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/blog2.jpg">
                        </div>
                        <div class="col-md-7 post-content">
                            <h3>What are the most of the important things to be considered in design</h3>
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Lorem Ipsum is type and scrambled it to make a type specimen book. It has survived not only five</h6>
                            <a href="blog-single.html" class="btn gray-btn gray">continue...</a>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/blog3.jpg">
                        </div>
                        <div class="col-md-7 post-content">
                            <h3>What are the most of the important things to be considered in design</h3>
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Lorem Ipsum is type and scrambled it to make a type specimen book. It has survived not only five</h6>
                            <a href="blog-single.html" class="btn gray-btn gray">continue...</a>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/blog4.jpg">
                        </div>
                        <div class="col-md-7 post-content">
                            <h3>What are the most of the important things to be considered in design</h3>
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Lorem Ipsum is type and scrambled it to make a type specimen book. It has survived not only five</h6>
                            <a href="blog-single.html" class="btn gray-btn gray">continue...</a>
                        </div>
                    </div>
                </div>
                <div class="blog-post">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/blog5.jpg">
                        </div>
                        <div class="col-md-7 post-content">
                            <h3>What are the most of the important things to be considered in design</h3>
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Lorem Ipsum is type and scrambled it to make a type specimen book. It has survived not only five</h6>
                            <a href="blog-single.html" class="btn gray-btn gray">continue...</a>
                        </div>
                    </div>
                </div>
                 <div class="btn-sec">
                <button class="btn gray-btn loadmore-btn">Load <br/>More</button>
            </div>
            </div>
           
        </div>
    </section>
    <footer>
        <div class="container">
         <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                 <li>
                    <a href="about.html">About</a>
                </li>
                 <li>
                    <a href="portipolio.html">Portfolio</a>
                </li>
                 <li>
                    <a href="services.html">Services</a>
                </li>
                 <li>
                    <a href="blog.html"> Read Blog</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
            <h5>C) 2017. All Rights Reserved. <a href="#">Personal Portfolio Theme</a></h5>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jQuery.lightninBox.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>