<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Designer Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jQuery.lightninBox.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="index.html" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="works.html" class="nav-link">Works</a>
                            </li>
                            <li class="navbar-item">
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item">
                                <a href="blog.html" class="nav-link">Blog</a>
                            </li>
                            <li class="navbar-item">
                                <a href="services.html" class="nav-link">Services</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="baner-sec" style="background:url(./images/banner-img.jpg)no-repeat;">
        <div class="container">
            <div class="content">
                <h2>Your Best And Affordable</h2>
                <h1>Creative  design  Agency</h1>
                <h3>for designer people</h3>
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. it to make a type specimen book...</h6>
            </div>
        </div>
    </section>
    <section class="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="about-block">
                        <h2>Hello and welcome to my website
                            web design and development...</h2>
                        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting    industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                        </h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skill-block">
                        <div class="indvidual-skill">
                            <div class="skill_title">
                                <span>Adobe Photoshop</span>
                            </div>
                            <div class="barfiller adobe">
                                <span class="fill" style="width:90%"></span>
                                <span class="tip" style="left:90%"></span>
                            </div>
                        </div>
                        <div class="indvidual-skill">
                            <div class="skill_title">
                                <span>Wordpress</span>
                            </div>
                            <div class="barfiller wordpress">
                                <span class="fill" style="width:80%"></span>
                                <span class="tip" style="left:80%"></span>
                            </div>
                        </div>
                        <div class="indvidual-skill">
                            <div class="skill_title">
                                <span>Adobe Photoshop</span>
                            </div>
                            <div class="barfiller html">
                                <span class="fill" style="width:95%"></span>
                                <span class="tip" style="left:95%"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="recent-works">
        <div class="container">
            <h2>Recent works.</h2>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
        </div>
        <div class="portfolio-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product">
                            <a href="images/port1.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port1.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product">
                            <a href="images/port2.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port2.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product">
                            <a href="images/port3.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port3.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product">
                                    <a href="images/port4.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port4.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product">
                                    <a href="images/port5.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port5.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="product">
                                    <a href="images/port6.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port6.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product">
                            <a href="images/port7.jpg" class="lightninBox" data-lb-group="1">
                                <img src="images/port7.jpg" alt="" />

                                <div class="portfolio-details">
                                    <div class="details">
                                        <span class="full-icon"><i class="fa fa-arrows-alt" aria-hidden="true"></i></span>
                                        <h3>Corporate Branding</h3>
                                    <span class="portfolio-category">branding, design</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="btn-sec">
                    <button class="btn gray-btn">Get Started</button>
                </div>
            </div>
        </div>
    </section>
    <section class="project-sart">
        <div class="container">
            <h2>got a project in mind?</h2>
            <h4>Lets create awesome now!</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>
            <a href="#" class="btn red">Get Started</a>
        </div>
    </section>
    <section class="services-sec">
        <div class="container">
            <h4>What I Do? & How I Do?</h4>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>
            <div class="row services">
                <div class="col-md-4">
                    <div class="service">
                        <span class="icon screen"><i class="fa fa-television" aria-hidden="true"></i></span>
                        <h3>web design</h3>
                        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <span class="icon tech"><i class="fa fa-wordpress" aria-hidden="true"></i></span>
                        <h3>wordpress</h3>
                        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <span class="icon code"><i class="fa fa-file-code-o" aria-hidden="true"></i></span>
                        <h3>html / css</h3>
                        <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-sec">
        <div class="container">
                <h2>Yea! I Too Write Blog</h2>
                <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>

                <div class="row blog-list">
                    <div class="col-md-6">
                        <div class="item">
                            <span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                            <h3><a href="#">What are the most important 
                            things to be considered in design</a></h3>  
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="item">
                            <span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                            <h3><a href="#">Seo marketing for graphic design
                                and more things.</a></h3>  
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="item">
                            <span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                          <h3><a href="#">What are the most important 
                            things to be considered in design</a></h3> 
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="item">
                            <span class="icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                            <h3><a href="#">Seo marketing for graphic design
                                and more things.</a></h3>   
                            <h6>Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five</h6>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <section class="contact-sec" id="contact-sec">
        <div class="container">
            <div class="cover"></div>

            <div class="row content">
                <div class="col-md-8">
                    <h3>Have a Project?</h3>
                    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem type specimen book. It has survived not only five</h6>

                    <div class="form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                   <label>Your Name </label> 
                                   <input type="text" required>
                                </div>
                                 <div class="col-md-6">
                                    <label>Your Email Address</label> 
                                   <input type="text" required>
                                </div>
                                 <div class="col-md-12">
                                    <label>Your Email Address</label> 
                                  <textarea ></textarea>

                                  <button class="btn red">Get Started</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 contact-details">
                        <address>
                            Modern, 3rd Floor, <br/>
                            Beside that building, USA
                        </address>

                         <address class="hours">
                           Opening Hours : <br/>
                            <span>Mo-Fr 11:00-00:00, Sa-Su 15:00-00:00</span>
                        </address>
                         <address>
                            <strong>
                               Call for Bookings <br/>
                                800 1234 56789
                            </strong>
                        </address>

                         <address class="hours">
                            Support Email:<br/>
                            <a href="mailto:info@mysite.com">info@mysite.com</a>
                        </address>

                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                 <li>
                    <a href="about.html">About</a>
                </li>
                 <li>
                    <a href="portipolio.html">Portfolio</a>
                </li>
                 <li>
                    <a href="services.html">Services</a>
                </li>
                 <li>
                    <a href="blog.html"> Read Blog</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
            <h5>C) 2017. All Rights Reserved. <a href="#">Personal Portfolio Theme</a></h5>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jQuery.lightninBox.min.js"></script>
    <script src="js/custom.js"></script>
    <script type="text/javascript">
    $(".lightninBox").lightninBox();
    </script>
</body>

</html>